
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutAuth.cshtml";
}

<div style="border: 1px solid #808080; width: 400px; height: 500px; position: fixed; top: 0; left: 0; right: 0; margin: auto;">
    <div style="width:100%;height:100%;background:#ff6a00;padding:5px;">

    </div>
</div>

