
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutAuth.cshtml";
}

<div style="border: 1px solid #808080; width: 400px; height: 500px; position: fixed; top: 0px; left: 0px; right: 0px; margin: auto; bottom: 0px;">
    <div style="width: 350px; height: 450px; background: #ffda00; padding: 5px; position: absolute; top: 0px; right: 0px; left: 0px; bottom: 0px; margin: auto">

    </div>
</div>

